%html
  %head
    %script{src: 'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'}
    %link{href: 'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css', rel: 'stylesheet'}
    = javascript_include_tag "application"
  %body
    #content
      #search-bar{style: 'margin: 30px;'}
        Enter # of points to display
        %input{id: 'enter-points-inp', name: 'enter-points', type: 'text'}
        %button{id: 'enter-points-btn', name: 'enter-points'} See Weather
      #description{style: 'margin: 30px;'}
        (Temperatures in Celsius)
      #map{style: 'margin: 30px; width: 900px; height: 900px;'}
